/* p { margin: 0px; padding: 0px;
font-size: 14px; font-weight: normal; } */

body {
  background: #ffffff;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none
}

dd {
  margin: 0;
  padding: 20px;
}

.base-cont {
  display: flex;
  justify-content: space-around;
}

.base-info-cont {
  font-size: 16px;
    color:  ;
}

a{
  text-decoration: none;
  color: #f0fcf3;
}
h1 {
  font-size: 40px;
}

h6 {
  font-weight: : bold;
  font-size: 16px;
}

.resumeBody {
  font-size: 14px;
  /* background: #F2DDE7; */
  margin: 0 auto;
  width: 800px;
  /* border: 1px dotted white; */
}

.summary {
  padding: 40px 20px 20px;
  background-color: #317d42;
  font: "Microsoft YaHei" 14px;
  color: #ffffff;
}

.headerImg {
  /* border: 4px dashed #FCFFBB; */
  border-radius: 2px;
  margin-top: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.summary h1 {
  color: #ffffff;
  font-family: fantasy;
  font-weight: normal;
}

.top-info-con {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.card-con {
  flex: 1;
  background-color: white;
  border-radius: 4px;
  shadow: 0 0 0 -10px #D8D8D8;
  box-shadow: 0 5px 15px 0 rgba(51, 51, 51, .1);
  transition: 0.15s;
}

.card-con:hover {
  box-shadow: 0 15px 30px 0 rgba(51, 51, 51, .15);
  transform: scale(1.05);
}

.card-title {
  height: 80px;
  background-color: rgba(246, 252, 6, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.card-title-01 {
  background-color: #eafcef;
}

.card-title-02 {
  background-color: #eafcef;
}

.card-title-1 {
  background-color: #eafcef;
}

.card-title-2 {
  background-color: #eafcef;
}

.card-title-3 {
  background-color: #eafcef;
}

.card-title-4 {
  background-color: #eafcef;
}

.card-title-5 {
  background-color: #eafcef;
}

.card-cont {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.card-cont-half {
  flex: 1;
}

.card-footer {
  border-top: 2px dotted #d8d8d8;
  margin: 0px 20px 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.exp-list-cont {
  box-shadow: 0 2px 2px 0 rgba(51, 51, 51, .1);
  padding: 20px;
}

.exp-title {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 0;
  font-size: 24px;
}

.exp-title-1 {
  background-color: #eafcef;
}

.exp-title-2 {
  background-color: #eafcef;
}

.exp-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.work-experience {
  border-radius: 4px;
  shadow: 0 0 0 -10px #D8D8D8;
  box-shadow: 0 5px 15px 0 rgba(51, 51, 51, .1);
  padding: 20px;
  transition: 0.15s;
  margin-bottom: 20px;
}

.work-experience:hover {
  box-shadow: 0 15px 30px 0 rgba(51, 51, 51, .15);
  transform: scale(1.05);
}

.work-exp-comp {
  font: Mircosoft Yahei 28px #000000;
}



.project-experience {
  border-radius: 4px;
  shadow: 0 0 0 -10px #D8D8D8;
  box-shadow: 0 5px 15px 0 rgba(51, 51, 51, .1);
  padding: 20px;
  transition: 0.15s;
  margin-bottom: 20px;
}

.project-experience:hover {
  box-shadow: 0 15px 30px 0 rgba(51, 51, 51, .15);
  transform: scale(1.05);
  background-color: #68ba7a;
  color: #ffffff !important;
}

.project-experience:hover >p{
  color: #ffffff !important;
}

.project-experience:hover >p >span{
  color: #ffffff !important;
}

.row1, .row2 {
  display: flex;
  justify-content: space-between;
}

.card-con-hide {
  flex: 1;
}

.shadow-1 {
  box-shadow: 0 5px 15px 0 rgba($c333, .2);
}

.shadow-2 {
  box-shadow: 0 15px 30px 0 rgba($c333, .15);
}

.shadow-3 {
  box-shadow: 0 1px 5px 0 rgba($c333, .2);
}

.shadow-4 {
  box-shadow: 0 2px 2px 0 rgba($c333, .1);
}

.mt0{
  margin-top: 0px;
}
.mt30{
  margin-top: 30px;
}
.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.cgray1 {
  color: #545454;
}
.cgray2{
  color: #5d5d5d;
}
.cgray3{
  color: #787878;
}
.cgray4{
  color: #989898;
}
.cgray5{
  color: #acacac;
}
.cgray6{
  color: #787878;
}

.f12 {
  font-size: 12;
}
.f13 {
  font-size: 13;
}
.f14 {
  font-size: 14;
}
.f15 {
  font-size: 15;
}
.f16 {
  font-size: 16;
}
.f17 {
  font-size: 17;
}
.f18 {
  font-size: 18;
}
.f19 {
  font-size: 19;
}
.f20 {
  font-size: 20;
}
